.vivaenv/
weather/rawfiles/
weather/logs/
weather/config.ini
.DS_Store
weather/.DS_Store
terratium/.DS_Store
aquarium/.DS_Store
config.ini
dist/
vivarium_automation.egg-info/
logs/

utilities/src/__pycache__/__init__.cpython-311.pyc
utilities/src/__pycache__/config.cpython-311.pyc
utilities/src/__pycache__/config.cpython-311.pyc
weather/src/atmosphere/__pycache__/weather_api_client.cpython-311.pyc
weather/src/atmosphere/__pycache__/__init__.cpython-311.pyc
weather/src/__pycache__/__init__.cpython-311.pyc
weather/__pycache__/fetch_daily_weather.cpython-311.pyc
utilities/src/__pycache__/path_utils.cpython-311.pyc
utilities/src/__pycache__/logger.cpython-311.pyc
utilities/src/__pycache__/config.cpython-311.pyc
utilities/src/__pycache__/__init__.cpython-311.pyc