.vivaenv/
weather/rawfiles/
weather/logs/
.DS_Store
weather/.DS_Store
terratium/.DS_Store
aquarium/.DS_Store
config_secrets.ini
dist/
vivarium_automation.egg-info/
logs/
*.pyc
._.DS_Store
notes/tech_debt.txt
notes/
config_secrets.ini
vivarium_backup.sql
cloudnotes.txt
